body { 
    background-color: #aaaaaa; 
    background-image: url(strawberries.jpg); 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center top;
    color: white;
}
h1 {
    color: white;
}
.prviizgled {
    width: 50%;
    max-width: 300px;
    border: 45px solid rgba(19, 0, 128,1);
    padding: 150px;
    margin: 20px;
    background-color: rgba(18, 17, 17, 0.5);

}